<!DOCTYPE html>
<html lang="en">

  <head>
{% include ga.html %}	  

	  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SEBD 2024 is the premier national conference of the Italian database community, an international forum for academia and industries to exchange visions and ideas in the state of the art and practice of the field of Database at large. Abstracts and Papers due: March 3, 2024.">
    <meta name="author" content="Maurizio Atzori (University of Cagliari, Italy)">

	<!-- favicon -->
<!-- <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
<link rel="manifest" href="img/favicon/site.webmanifest">
<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5"> -->
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
	<!-- end favicon -->
	
    <title>{{ page.title }}</title> 
	  <!-- markdown based website -->

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="css/creative.min.css" rel="stylesheet">-->
	  <link href="css/creative.css" rel="stylesheet">

	<style>
	.btn-primary-outline, .btn-primary-outline:hover, .btn-primary-outline:focus  {
		border: 2px solid;
		background-color: transparent !important;
		box-shadow: none !important;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	}
	#cfp .text-white a {
		color: rgba(0,0,0,0.7); /*rgba(0, 115, 230,0.8); rgb(128, 191, 255); /*#99ccff;*/
		font-weight: bold;
		
	}
		
	#committees a {
		font-weight: bold;
	}
	
	#committees  ul {
		list-style-type:none;
	}
		
	@media (min-width: 992px)
	#mainNav {
	    background-color: rgba(0,0,0,0.2);
	    box-shadow: 0px 0.8em 0.8em rgba(0,0,0,0.2);
	}
	
.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}		
		
	</style>
  </head>

  <body id="page-top">

{% include navmenu.html %}	  
	  
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h1 class="text-uppercase" style="text-shadow: black 0.08em 0.08em 0.2em;">
              <strong>SEBD 2024</strong> <br/>
			  32<span class="text-lowercase">nd</span> Symposium on Advanced Database Systems
			  <!--</strong>-->
            </h1>


            <hr>
          </div>
          <div class="col-lg-12 mx-auto">
            <!--<p class="text-faded mb-5 " style="color:white;text-shadow: black 0.1em 0.1em 0.1em;"></p>
	-->		
			<h4 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;">June 23-26, 2024 - <a href="https://www.sardegnaturismo.it/en/places/sud/villasimius" style="color:white"><i>Villasimius</i></a>, Sardinia, Italy</h4>
			<!--<h5 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;">Update: <a href="https://goo.gl/4pW5EM">Detailed Conference Program</a> available</h5>-->
			<!--<h5 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;">Doctoral Consortium and <b>young researcher travel Award</b> deadline: <b>April 25th</b></h5>
		  	<h5 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;"><b>Registration <a href="http://www.cvent.com/d/m6qfg7">link now available</a></b>, deadline for authors: <i>May 20th</i></h5>
		  	-->
		  
		  	<!--<h5 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;"><b><a href="#dates">Extended Deadline: abstracts and papers March 10th</a></b></h5>-->
		  	<!--<h5 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;"><b><a href="#dates">New notification deadline: April 30</a></b></h5>-->
		  
<!--		  	<h5 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;"><b>IMPORTANT UPDATE: Due to COVID-19 pandemia, as many other conferences worldwide, SEBD 2024 will take place as a virtual (online) conference on the original dates, June 21-24, 2024.</b><br/> 
Details on <a href="registration">registration</a> and <a href="program">program</a> are available, details on participation will follow shortly.</h5>
		  	<h5 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;">Due to COVID-19 pandemia, as many other conferences worldwide, SEBD 2024 will take place as a virtual (online) conference on the original dates, June 21-24, 2024.<br/> 
-->		  
<!--<b class="blink_me">To participate, please use Zoom Meeting links available in the <a href="program">Conference Program</a> page.</b></h5>-->
		  
				
				<!--<a class="btn btn-warning btn-xl js-scroll-trigger" href="registration">Registration</a>
				<a class="btn btn-warning btn-xl js-scroll-trigger blink_me" href="https://forms.gle/6rDHvnEwCt3m1aVa7">Certificate of Attendance</a> -->
		  	<a class="btn btn-primary btn-xl js-scroll-trigger disabled" href="program">Conference Program</a> 
			<a class="btn btn-primary btn-xl js-scroll-trigger" href="#cfp">Submit now!</a>

				
			<a class="btn btn-primary btn-xl js-scroll-trigger btn-warning" href="#keynotes">Keynote Speakers</a>
			<!--<a class="btn btn-primary btn-xl js-scroll-trigger disabled" href="./openscience">Tutorial and Panel</a>-->
		  
		  
<!---		  <a class="btn btn-warning btn-xl js-scroll-trigger" href="#keynotes">Keynote Speakers</a>
		  <a class="btn btn-warning btn-xl js-scroll-trigger" href="https://docs.google.com/document/d/e/2PACX-1vSlXTcg7M_rVCkqCSEgUi526jUc6CEfP_AwlSrGgSHmNWkUZVjDsPUyLyWmio-2Wv8dWJJb6dUax6vX/pub">Program (Preliminary)</a>
		  
			<!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="http://45mins.org/registration/registration.jsp">Registration</a>-->

			
          </div>
        </div>  <!-- row -->
	      	
	      
      </div> <!-- container -->
    </header>

	  

    <section>
      <div class="container" id="about">
        <!--<div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Location</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">-->
        <div class="row">
            <div class="col-lg-10 mx-auto ">
		<p>The 2024 edition of SEBD Conference will take place in Villasimius (Sardinia), Italy, at Tanka Village Resort from the 23rd to the 26th of June 2024.
This is the 32th edition of the symposium, which is the major annual event of the Italian database research community at large (English is the official language of the conference). The symposium is thought as a gathering forum to meet, discuss and exchange experiences among all those, both in the academy and industry, who are interested in database systems and in all their broad range of applications.
</p>
			
		    <br/>
		    <p>
			    SEBD 2024 conference will be located in Villasimius, Italy, at the <a href="https://www.voitankavillage.com/">VOI Tanka Village</a>, by the  crystal-clear sea of Simius beach.
Villasimius is a highly renomated turistic village on the southern coast of Sardinia, the second largest island in the Mediterranean famous for its white-sand beaches and clean waters. The closest airport is Cagliari Elmas international airport, connected with non-stop passenger flights (including many low-cost flights) 
			    scheduled to <a href="https://www.flightconnections.com/flights-from-cagliari-sardinia-cag">62 destinations in 16 countries</a>.</p>
			    
		<p>You can read <a href="https://www.sardegnaturismo.it/en/places/sud/villasimius">more info on Villasimius at <i>Sardegna Turismo</i></a>.</p>

		  
	  </div>
	</div>
      </div> <!-- container -->
    </section>	  
	  

	
    <section class="bg-primary" id="cfp">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-white">
            <h2 class="section-heading text-white text-center">
			<i class="fa fa-bullhorn sr-icons"></i>
			Call for Papers</h2>
            <hr class="light my-4">
		<p>The conference covers a broad range of topics, including traditional
database management and new challenges for data management in
any possible domain. Suggested topics include (but are not limited to)
the followings:	</p>

​
</div>
</div>
<div id="topics" class="row text-white">
<div class="col-lg-1"></div>
​<div class="col-lg-5">
​<h4><i class="fa fa-list-ul sr-icons"></i> TOPICS OF INTEREST​​</h4>
<ul>
	<li>Big Data and Smart Computing</li>
	<li>Data integration, Heterogeneous and Federated Databases</li>
	<li>Data mining, knowledge discovery, information extraction, and data-centric machine learning</li>
	<li>Data provenance, publishing, and citation</li>
	<li>Data visualization</li>
	<li>Data warehousing</li>
	<li>Distributed and parallel databases</li>
	<li>Grid, peer-to-peer databases and Cloud Computing</li>
	<li>Incompleteness, inconsistency, and uncertainty in databases</li>
	<li>Keyword-based and natural language access to structured data</li>
	<li>Knowledge representation and reasoning</li>
	<li>Ontology-based data management</li>
	<li>Privacy, security, and trust management</li>
	<li>Query processing and optimization, approximate query answering</li>
	<li>Real-time, embedded, sensor, and mobile databases</li>
	<li>Scientific and Statistical Databases</li>
	<li>Semantic Web and Open Linked Data</li>
	<li>Social networks and Graph databases</li>
	<li>Transaction and workflow management, interoperability, and Web services</li>
	<li>Big Data and AI</li>
</ul>
</div>

<div class="col-lg-5">
​<h4 id="submission">
<i class="fa fa-edit"></i>
SUBMISSION INSTRUCTIONS</h4>
<div class="small">
<p>
SEBD 2024 invites research, industry, application contributions, and software demonstration submissions. Regular papers presenting original work are solicited. Moreover, discussion papers containing descriptions of results already published are also welcomed.

There are three submission formats:


<ul>
<li> <b>Regular papers</b> (up to 12 pages + references). Original research works. Regular papers must be original and not simultaneously submitted to another journal or conference</li>
<li> <b>Discussion papers</b> (up to 8 pages + references). Results and ideas of interest to the SEBD audience, including extended abstracts of recent authors’ publications, papers currently under submission, position papers, system and application descriptions, and presentations of preliminary results</li>
<li> <b>Doctoral Consortium papers</b> (up to 6-7 pages, including selected references). The papers should be singly authored by a Ph.D. student or a Ph.D. graduate who defended the thesis between September 2023 and February 2024; if accepted, it will be presented at the Doctoral Consortium session</li>
</ul>
	
Selection will be based on originality, clarity, and technical quality.

Submissions of papers must be in English, in PDF format, and formatted following the new CEUR-ART 1-column style, which is the style requested for the camera-ready preparation (<a href="https://www.overleaf.com/latex/templates/template-for-submissions-to-ceur-workshop-proceedings-ceur-ws-dot-org/wqyfdgftmcfw">Overleaf template</a>).

Submission system: <a href="https://cmt3.research.microsoft.com/SEBD2024/">Microsoft CMT SEBD 2024 submission link</a>.<br>

All accepted papers will be included in the proceedings, with Discussion Papers marked as such. Proceedings will be published on WS-CEUR.org and indexed in Scopus.

After acceptance, authors are required to re-submit the final PDF. No different format is allowed. All accepted papers are expected to be presented at the conference, and at least one author will be required to register for the conference.

To accommodate a potentially large number of papers, PC chairs could accommodate poster sessions in addition to regular oral sessions.  A booster session will introduce all poster presentations where the authors can pitch the contribution with a 1-2 minute presentation.
Authors of accepted papers will be notified about the final decision on the presentation format. 


	The <i>SEBD 2024 Doctoral Consortium</i>i will take place in a dedicated session during the conference on Sunday, June 23, 2024.
The goal is to provide a forum for Ph.D. candidates to present their ongoing research and
receive feedback from renowned and experienced research community members. The
Consortium fosters a collaborative environment, encouraging constructive discussions and
sharing of ideas. It will be an excellent opportunity for developing person-to-person networks
to the benefit of the Ph.D. students in their future careers – as well as of the community.


</p>

</div>

</div>
</div>
	      
        <div class="row">
          <div class="col-lg-10 mx-auto text-white">

All accepted works will be included in the proceedings, with Discussion Papers clearly marked as such. Proceedings will be published on WS-CEUR.org and indexed in Scopus, DBLP and Google Scholar.
After acceptance, authors are required to re-submit the final PDF. No different format is allowed. All accepted papers are expected to be presented at the conference and at least one author is required to register to the conference.

		</div></div>
        <div class="row">
          <div class="col-lg-10 mx-auto text-white text-center mt-3">
            <!--<p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>-->
                <!--<a class="btn btn-light btn-xl disabled js-scroll-trigger" href="#services">Submit your Paper <br/>to <i>SEBD 2024</i> <small>(available soon)</small></a>-->
		    <a class="btn btn-light btn-xl btn-success js-scroll-trigger" href="https://cmt3.research.microsoft.com/SEBD2024/">Submit your paper <br/>to <i>SEBD 2024</i></a>
		</div>

          </div>
        </div>
    </section>
	  
	  
	  
	  
    <section>
      <div class="container" id="keynotes">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Keynote Speakers</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <!--<div class="row">
          <div class="col text-center">
	     <h3>Keynote Speakers of SEBD 2024 will be announced shortly</h3>
	  </div>
	</div>-->
	      
        <!--<div class="row">
          <div class="col text-center">
	     <a href="invited">Additional information on SEBD 2024 keynote talks</a>
	  </div>
	</div>-->
	      
    <div class="row">


	  <div class="col-lg-4 col-md-4 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="https://www.unical.it/media/medias/2023/Gottlob2.webp" style="height:180px"/>
              <h3 class="mb-3">Georg Gottlob</h3>
              <h5>FRS, Professor at University of Calabria, Italy</h5>
              <p class="text-muted mb-0">TBA</p> <!--talk title -->
            </div>
          </div>

	<div class="col-lg-4 col-md-4 text-center">
            <div class="service-box mt-5 mx-auto">
			  <img src="https://midas.umich.edu/wp-content/uploads/sites/3/2019/01/Jagadish-150x150.png" style="height:180px" />
              <h3 class="mb-3">H. V. Jagadish</h3>
              <h5>Edgar F. Codd Distinguished Professor, University of Michigan, U.S.A.</h5>
              <p class="text-muted mb-0">TBA</p> <!--talk title -->
            </div>
        </div>

          <div class="col-lg-4 col-md-4 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="https://helios2.mi.parisdescartes.fr/~themisp/themis.jpg" style="height:180px"/>
              <h3 class="mb-3">Themis Palpanas</h3>
              <h5>Distinguished Professor at University Paris Cite, France</h5>
              <p class="text-muted mb-0">Scalable Vector Analytics: A Story of Twists and Turns</p> <!--talk title -->
            </div>
          </div>		

		
	</div> <!-- row -->
		
		<!--
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="http://people.cs.georgetown.edu/~ophir/images/frieder-2016.jpg" style="width:50%"/>
              <h3 class="mb-3">Ophir Frieder</h3>
              <h5>Georgetown University, USA</h5>
              <p class="text-muted mb-0">Computing Medicine</p>
            </div>
          </div>
		
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
			  <img src="img/Sang-goo_Lee2.jpg" style="width:50%;" />
              <h3 class="mb-3">Sang-goo Lee</h3>
              <h5>Seoul National University (SNU), South Korea</h5>
              <p class="text-muted mb-0">Bringing AI into Fashion</p>
            </div>
          </div>
		
		
	</div> <!-- row -->
		
<!--        <div class="row">
		
		
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
				<img src="https://www.utdallas.edu/~bhavani.thuraisingham/Images/ThuraisinghamB.jpg" style="width:50%" />
              <h3 class="mb-3">Bhavani Thuraisingham</h3>
              <h5>University of Texas, Dallas, USA</h5>
              <p class="text-muted mb-0">Secure Data Science: Integrating Data Science and Cyber Security</p>
            </div>
          </div>
		
           <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
			  <img src="img/zaniolo_scai.png" style="width:50%;" />
              <h3 class="mb-3">Carlo Zaniolo</h3>
              <h5>University of California, Los Angeles, USA</h5>
              <p class="text-muted mb-0">Declarative Programming of Knowledge-based Applications on BigData</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="img/ryeh_squared.jpg" style="width:50%"/>
              <h3 class="mb-3">Reymond Yeh</h3>
              <h5>University of Maryland (ret.), College Park, USA</h5>
              <p class="text-muted mb-0">Being Transdisciplinary: The Art of Making Meaningful Connections</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="img/oscargarcia.jpg" style="width:50%"/>
              <h3 class="mb-3">Oscar N. Garcia</h3>
              <h5>University of North Texas, USA</h5>
              <p class="text-muted mb-0">Distinguished SEBD Tutorial</p>
            </div>
          </div>
		
		
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
	

	  
	  
	  
	  
	  
	  
    <section id="dates" class="bg-secondary">
		<div class="container text-white">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
				<h2 class="section-heading text-center mb-3">
				<i class="fa fa-calendar-check-o sr-icons" aria-hidden="true"></i>
				Important Dates</h2>
				            <hr class="red my-4">

				<ul style="list-style-type:none">
					
					
					
					
					<!--<li><b>Abstracts submission deadline</b> (Regular, Short, Poster, Demo) : February 15, 2024</li> -->
					<!-- <li><b>Abstract submission deadline</b>: March 3, 2024</li> -->
					<li><b>Abstract and Paper submission deadline</b> (Regular, Short, Doctoral Consortium): March 3, 2024</li>
					<li><b>Notification of acceptance</b>: April 7, 2024 <!--<strike>April 20</strike> April 30, 2024--></li>
					<li><b>Camera ready deadline</b>: April 21, 2024 <!--<strike>May 15</strike> May 22, 2024--></li>
					<li></li>
				</ul>
					All deadlines are <a href="https://time.is/Anywhere_on_Earth">Anywhere on Earth (AoE)</a>, UTC-12 standard time.
				</div>
			</div>
		</div>
	</section>
		  

<!--
    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
      </div>
    </section> -->

	        <!--<a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>-->
	

	
<section id="committees">
      <div class="container">
		<div class="row text-center">
          <div class="col-lg-12">

		  <h2 class="mb-4">Committees</h2>

		  
	<h4>General Chairs</h4>
	<ul>
		<li><a href="https://atzori.webofcode.org/">Maurizio Atzori</a>, University of Cagliari</li>
		<li><a href="http://www-db.disi.unibo.it/~pciaccia/">Paolo Ciaccia</a>, University of Bologna</li>
	</ul>

	<h4 class="mt-4" id="pc">Program Chairs</h4>
	<ul>
		<li><a href="http://www.di.uniba.it/~ceci/">Michelangelo Ceci</a>, University of Bari</li>
		<li><a href="https://personale.unimore.it/rubrica/dettaglio/fmandreoli">Federica Mandreoli</a>, University of Modena and Reggio Emilia</li>
	</ul>

<h4 class="mt-4">Program Committee Members</h4>
<p><a href="./pc" style="color:gray;font-weight: bold;">List of SEBD 2024 PC Members</a>
</p>
	

<!--
<h4>Workshop Chairs</h4>
<ul><li><a href="https://interesaaat.github.io/">Matteo Interlandi</a>, Microsoft, USA</li>
<li><a href="http://adinapanchea.com/about/">Adina M. Panchea</a>, Cutii and École Polytechnique, France</li>
<li><a href="http://people.unica.it/barbarapes/">Barbara Pes</a>, University of Cagliari</li>	
</ul>

<h4>Industry Chairs</h4>
<ul><li><a href="https://www.facebook.com/gmmazzeo">Massimo Mazzeo</a>, Facebook, USA</li>
<li><a href="https://www.linkedin.com/in/jianquan-liu-5009a158/">Jianquan Liu</a>, NEC, Japan</li></ul>

			
			
<h4>Finance Chairs</h4>
<ul><li><a href="https://www.csun.edu/~twang/">George Wang</a>, CSUN, USA</li>
<li><a href="">Nil Bekmez</a>, Italy</li>
</ul>

			
<h4>Doctoral Consortium Chairs</h4>
<ul><li><a href="">Mattia Atzeni</a>, University of Cagliari, Italy</li>
<li><a href="http://yellowstone.cs.ucla.edu/~muhao/">Muhao Chen</a>, UCLA, USA</li>
</ul>			

<h4>Publication and Registration Chair</h4>
<ul><li><a href="">Bryan Chou</a>, University of California, Irvine, USA
</li></ul>
-->

	</div></div>
      </div> 
    </section>
	
	
	
    <section id="contacts" class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contacts and Visa Application</h2>
            <hr class="my-4">
            <p class="mb-5fdas">For questions related to workshops and paper submissions, please use the link below. <!--contact <a href="mailto:atzori@unica.it">atzori@unica.it</a>.-->   
		    For visa and travel related inquires, please visit the <a href="http://vistoperitalia.esteri.it/home/en">Official Italian Visa Site</a>.
		    Invitation letters will not be provided until registration is completed.</p>
	    <p class="mb-5fdas"><b>Authors of accepted papers who need an invitation letter for visa application 
		    please contact Prof. <a href="mailto:atzori@unica.it">Maurizio Atzori (atzori@unica.it)</a>.</b></p>  
		  
          </div>
        </div>
	      
	      
        <div class="row">
          <!--<div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>-->
          <div class="col-lg-12 mr-auto text-center">
            <a href="mailto:atzori@unica.it"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              atzori@unica.it
            </p></a>
          </div>
        </div>
      </div>
    </section>

	<div id="preload-img" style="display: none;"> 
		<img src="img/1.jpg"></img>
	  	<img src="img/2.jpg"></img>
	  	<img src="img/3.jpg"></img>
	  	<img src="img/4.jpg"></img>
	  	<img src="img/5.jpg"></img>
	  	<img src="img/6.jpg"></img>
	  	<img src="img/7.jpg"></img>
	  	<img src="img/8.jpg"></img>
	</div>
	  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>
	  
    <script>
       /* slideshow */

  setInterval(function() {

		  var x = 1+Math.floor(Math.random() * 8); // 1-8

		  $('header.masthead')
		     .fadeOut(300, function() {

				  $('header.masthead')
					.css('background-image', 'url(img/' + x + '.jpg)')
					.fadeIn(300)
			 })
	  
  }, 8000);


    </script>

 <script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Event",
  "name": "32nd Italian Symposium on Advanced Database Systems (SEBD 2024)",
  "startDate": "2024-06-23",
  "endDate": "2024-06-26",
  "inLanguage": "English",
  "location": {
	  "@context": "http://schema.org/",
	  "@type": "Place",
	  "address": "Villasimius, Sardinia, Italy",
	  "name": "Villasimius, Italy"
  },
  "alternateName": "SEBD 2024",
  "description": "SEBD 2024 is the premier national conference of the Italian database community, an international forum for academia and industries to exchange visions and ideas in the state of the art and practice of the field of Database at large. Paper Submission Deadline: March 3, 2024",
  "identifier": "http://sebd2024.unica.it/",
  "image": "http://sebd2024.unica.it/img/1.jpg",
  "url":"http://sebd2024.unica.it/"
 }
</script>	  
	  
<script type="application/javascript">
function msieversion() {
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");
    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))  // If Internet Explorer, return version number
    {
        return true; // (parseInt(ua.substring(msie + 5, ua.indexOf(".", msie))));
    }
    else  // If another browser, return 0
    {
        return false; //('otherbrowser');
    }
    return false;
}
if (msieversion()) {
   $('.row').first().css('margin-top','10%');
}
	
</script>	  

	 
  </body>

</html>
